
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.wrapper {
    width: 100%;
    flex-direction: column;
}
#banner {
    background-color: aqua;
    width: 100%;
    margin-bottom: 25px;
}
.publication {
    margin: 15px auto;
}

.top-sec {
    flex-direction: column;
    padding-bottom: 0;
    
}
.form1 {
    margin 0 5%;
    width: 100%;
}
.form2 {
    margin 0 5%;
    width: 100%;
}
input, select {
    width: 90%;
    margin: 15px 5%;
    padding: 15px;
}
input::placeholder {
    text-align: right;
}
.zip {
    width: 40%;
}
h2, .top-sec {
    margin: auto;
}
h2 {
    margin-bottom: 10px;
}
p {
    margin: 3px 5%;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: solid 3px black;
}
legend {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 5% 20px;
    padding-top: 25px;
    border-top: solid 2px black;
    width: 90%;
}
label {
    margin: 5px 5% 5px;
}

.bot-sec {
    margin: 0 5%;
}

/*-----------------------------------------------------------------
Flex Containers
------------------------------------------------------------------*/


.wrapper,
#banner,
.top-sec,
.mid-sec,
.bot-sec {
    display: flex;
}

/*-----------------------------------------------------------------
Media Queries (768)
------------------------------------------------------------------*/