
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0 auto;
}
a{
    text-decoration: none;
}


/*-----------------------------------------------------------------
Flex Containers
------------------------------------------------------------------*/


/*-----------------------------------------------------------------
Media Queries (768)
------------------------------------------------------------------*/


/*-----------------------------------------------------------------
Media Queries (1024)
------------------------------------------------------------------*/
